.cdx-strike {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.cdx-strike::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid;
  border-top-color: #053743;
  height: 45%;
  height: calc(50% - 1px);
  width: 100%;
}
